name: Laravel WebAuthn static analysis

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  psalm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [8.0]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer files
        uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-v4-${{ hashFiles('**/composer.json') }}-${{ matrix.php-version }}
          restore-keys: |
            ${{ runner.os }}-composer-v4-${{ hashFiles('**/composer.json') }}-${{ matrix.php-version }}
            ${{ runner.os }}-composer-v4-${{ hashFiles('**/composer.json') }}
            ${{ runner.os }}-composer-v4-

      - name: Install dependencies
        run: composer install --no-progress --no-interaction --prefer-dist --optimize-autoloader

      - name: Run psalm
        run: vendor/bin/psalm --output-format=github


  phpstan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [8.0]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer files
        uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-v4-${{ hashFiles('**/composer.json') }}-${{ matrix.php-version }}
          restore-keys: |
            ${{ runner.os }}-composer-v4-${{ hashFiles('**/composer.json') }}-${{ matrix.php-version }}
            ${{ runner.os }}-composer-v4-${{ hashFiles('**/composer.json') }}
            ${{ runner.os }}-composer-v4-

      - name: Install dependencies
        run: composer install --no-progress --no-interaction --prefer-dist --optimize-autoloader

      - name : Run phpstan
        run: vendor/bin/phpstan analyse
